[submodule "react-step-form"]
	path = react-step-form
	url = https://github.com/bradtraversy/react_step_form.git
[submodule "let-suspense"]
	path = let-suspense
	url = https://github.com/comphonia/LetSuspense.git
[submodule "multi-level-dropdown"]
	path = multi-level-dropdown
	url = https://github.com/fireship-io/229-multi-level-dropdown.git
[submodule "react-hooks-crash-course-academind"]
	path = react-hooks-crash-course-academind
	url = https://github.com/academind/react-hooks-introduction.git
[submodule "youtube-2020-june-multi-step-form-formik"]
	path = youtube-2020-june-multi-step-form-formik
	url = https://github.com/bmvantunes/youtube-2020-june-multi-step-form-formik
