html,
body,
#root {
	height: 100%;
}

#root {
	display: grid;
	grid-template-rows: auto 1fr;
}

main {
	display: flex;
	justify-content: center;
	padding: 1em;
	overflow: auto;

	& > * {
		align-self: flex-start;
	}
}
